h6 {
    margin-top: 20px;
}

#header {
    background-color: rgb(20, 185, 69);
    border-style: solid;
    padding: 10px;
}

.alert {
    visibility: hidden;
    padding: 10px;
    margin-bottom: -10px;
}

#stuff {
    padding: 3%;
    justify-content: center;
    display: flex;
}